.navbar {
    width: rem(300px);
    height: 100vh;
    padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    background-color: var(--mantine-color-white);
    border-right: rem(1px) solid var(--mantine-color-gray-3);
}

.navbarMain {
    flex: 1;
}

.footer {
    border-top: rem(1px) solid var(--mantine-color-gray-3);
    padding-top: var(--mantine-spacing-md);
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--mantine-font-size-sm);
    color: var(--mantine-color-gray-7);
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-sm);
    font-weight: 500;
    width: 100%;
}

.link:hover {
    background-color: var(--mantine-color-gray-0);
    color: var(--mantine-color-black);
}

.link[data-active] {
    background-color: var(--mantine-color-blue-0);
    color: var(--mantine-color-blue-7);
}

.link[data-active] .linkIcon {
    color: var(--mantine-color-blue-7);
}

.linkIcon {
    color: var(--mantine-color-gray-6);
    margin-right: var(--mantine-spacing-sm);
    width: rem(20px);
    height: rem(20px);
}